@model FrontEndComplete.Models.RecipientModel

<div>

    <form id="myRecipientsForm">

        @Html.HiddenFor(m => m.RecipientID)

        <p>@Html.DropDownListFor(model => model.DonationID, ViewBag.DonationList as SelectList, "--Add a donation--", new { @class = "form-control" }) </p>

        <p>@Html.TextBoxFor(model => model.DateOfUse, new { @class = "form-control", @placeholder = "Date of Use" }) </p>

        <p>@Html.TextBoxFor(model => model.RelatedCondition, new { @class = "form-control", @placeholder = "Related condition" }) </p>

        <p>@Html.TextBoxFor(model => model.RecipientCodedName, new { @class = "form-control", @placeholder = "Recipient coded name" }) </p>

        <a href="#" id="btnSubmit" class="btn btn-success btn-block">
        @if (Model.RecipientID > 0)
        { <span>Update</span>}
        else { <span>Save</span>}
        </a>


</form>

<div style="text-align:center; display:none" id="loader">
<img src="~/Content/giphy-downsized.gif" width="150" />
</div>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loader").show();

                var data = $("#myRecipientsForm").serialize();

            $.ajax({

                    type: "POST",
                    url: "/Recipient/Recipients",
                data: data,
                success: function (response) {
                    $("#loader").hide();
                    $("#myAddEditModal").modal("hide");
                    window.location.href = "/Recipient/Recipients";
                    }

                });
            });
        });

</script>