@model FrontEndComplete.Models.RecipientModel

@{
    ViewBag.Title = "Recipients";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
<meta name="viewport" content="width:device-width, initial-scale=1">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Recipients</li>
                <li><a href="#" onclick="AddEditRecipient(0)"><i class="glyphicon glyphicon-plus" style="color:red;"></i> Add a recipient</a></li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Recipients</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.RecipientCodedName, new { @class = "form-control", @placeholder = "Search here" })
                                    <img src="~/Content/giphy-downsized.gif" id="loaderID" height="40" width="40" style="display:none" />
                                </div>
                            </div>
                            <br>
                            <table class="table table-responsive">

                                <tr>
                                    <th>ID</th>
                                    <th>Donor</th>
                                    <th>Donation type</th>
                                    <th>Recipient coded name</th>
                                    <th>date of use</th>
                                    <th>Related condition</th>
                                    <th></th>
                                </tr>

                                <tbody id="recipientRow">

                                    @if (ViewBag.RecipientList != null)
                                    {
                                        foreach (var item in ViewBag.RecipientList)
                                        {
                                            <tr id="row_@item.RecipientID">
                                                <td>@item.RecipientID</td>
                                                <td>@item.DonorFullName</td>
                                                <td>@item.DonationType</td>
                                                <td>@item.RecipientCodedName</td>
                                                <td>@item.DateOfUse</td>
                                                <td>@item.RelatedCondition</td>
                                                <td><a href="#" onclick="ConfirmDelete(@item.RecipientID)"><i class="fa fa-archive" style="color:#FF0000;"></i></a> Archive</td>
                                                <td><a href="#" onclick="ShowRecipient(@item.RecipientID)"><i class="glyphicon glyphicon-eye-open" style="color:#22B02C;"></i></a> Details</td>
                                                <td><a href="#" onclick="AddEditRecipient(@item.RecipientID)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue;"></i></a> Edit</td>
                                            </tr>
                                        }
                                    }
                                    <tr></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Archive recipient</h3>
                </div>

                <div class="modal-body">
                    <h4>Are you sure you want to archive this recipient?</h4>
                    <div style="text-align:center; display:none" id="loader">
                        <img src="~/Content/giphy-downsized.gif" width="150" /> @*This is a page is loading gif*@
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteRecipient()">Confirm</a> @*When clicking on the btn, The function DeleteDonation is called, and record is deleted from database*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myShowModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Recipient details</h3>
                </div>

                <div class="modal-body" id="showModalBody">

                </div>

                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myAddEditModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add or Edit Recipient</h3>
                </div>

                <div class="modal-body" id="myAddEditModalBody">

                </div>


            </div>
        </div>
    </div>

    <input class="hidden" id="hiddenRecipient" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var ConfirmDelete = function (recipientID) {

            $("#hiddenRecipient").val(recipientID);
            $("#myDeleteModal").modal("show");
        }

        var DeleteRecipient = function () {

            $("#loader").show();

            var recID = $("#hiddenRecipient").val();
            @*--Ajax call to delete the record-- *@
            $.ajax({

                type: "POST",
                url: "/Recipient/DeleteRecipient",
                data: { recipientID: recID },
                success: function (result) {
                    $("#loader").hide();
                    $("#myDeleteModal").modal("hide");

                    @*--Remove the deleted row-- *@
                    $("#row_" + recID).remove();
                }
            });

        }

        var ShowRecipient = function (recipientID) {

            var url = "/Recipient/ShowRecipientDetail?RecipientID=" + recipientID;
            $("#showModalBody").load(url, function () {
                $("#myShowModal").modal("show");
            })

        }

        var AddEditRecipient = function (recipientID) {

            var url = "/Recipient/AddEditRecipient?RecipientID=" + recipientID;
            $("#myAddEditModalBody").load(url, function () {
                $("#myAddEditModal").modal("show");
            })
        }


        $(document).ready(function () {

            $("#RecipientCodedName").keydown(function () {
                $("#loaderID").show();
                var searchtext = $(this).val();

                $.ajax({

                    type: "POST",
                    url: "/Recipient/GetSearchRecipient?SearchText=" + searchtext,
                    contentType: "html",
                    success: function (response) {
                        $("#loaderID").hide();
                        $("#recipientRow").html(response);
                    }
                })
            })
        })
    </script>
}


