@model IEnumerable<FrontEndComplete.Models.RecipientModel>

@{
    ViewBag.Title = "Recipient";
}

<h2>Recipient</h2>
<div class="container" style="width:80%; margin-top:12%">
    @if (Model != null)
    {
    <table class="table table-striped">

        <tr>
            <th>Id</th>
            <th>Recipient Coded Name</th>
            <th>Date of Use</th>
            <th>Related Condition</th>
            <th>Donation ID</th>
            <th>Donation Type</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RecipientID</td>
                    <td>@item.RecipientCodedName</td>
                    <td>@item.DateOfUse</td>
                    <td>@item.RelatedCondition</td>
                    <td>@item.DonationID</td>
                    <td>@item.DonationType</td>
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

