@model FrontEndComplete.Models.DonationModel

@{
    ViewBag.Title = "Donation";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
<meta name="viewport" content="width:device-width, initial-scale=1">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Donations</li>
                <li><a href="#" onclick="AddEditDonation(0)"><i class="glyphicon glyphicon-plus" style="color:red;"></i> Add new donation</a></li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Donations</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.DonationType, new { @class = "form-control", @placeholder = "Search here" })
                                    <img src="~/Content/giphy-downsized.gif" id="loaderID" height="40" width="40" style="display:none" />
                                </div>
                            </div>
                            <br>
                            <table class="table table-responsive">

                                <tr>
                                    <th>Donation type</th>
                                    <th>Blood type</th>
                                    <th>Rh factor</th>
                                    <th>Donor</th>
                                    <th>Number of units</th>
                                    <th>Donation site name</th>
                                    <th>Recipient</th>
                                    <th>Creation date</th>
                                    <th>Expiration date</th>
                                    <th>Donation Accepted</th>
                                    <th>Reason for rejection</th>
                                    <th></th>
                                </tr>

                                <tbody id="donationRow">

                                    @if (ViewBag.DonationsList != null)
                                    {
                                        foreach (var item in ViewBag.DonationsList)
                                        {
                                            <tr id="row_@item.DonationID">
                                                <td>@item.DonationType</td>
                                                <td>@item.CrossBloodType</td>
                                                <td>@item.CrossRhFactor</td>
                                                <td>@item.DonorFullName</td>
                                                <td>@item.NumberOfUnits</td>
                                                <td>@item.SiteName</td>
                                                <td>@item.RecipientCodedName</td>
                                                <td>@item.CreationDate</td>
                                                <td>@item.ExpirationDate</td>
                                                <td>@item.Accepted</td>
                                                <td>@item.ReasonForRejection</td>
                                                <td><a href="#" onclick="ConfirmDelete(@item.DonationID)"><i class="glyphicon glyphicon-trash" style="color:#FF0000;"></i></a> Delete</td>
                                                <td><a href="#" onclick="ShowDonation(@item.DonationID)"><i class="glyphicon glyphicon-eye-open" style="color:#22B02C;"></i></a> Details</td>
                                                <td><a href="#" onclick="AddEditDonation(@item.DonationID)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue;"></i></a> Edit</td>
                                            </tr>
                                        }
                                    }
                                    <tr></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Archive donation</h3>
                </div>

                <div class="modal-body">
                    <h4>Are you sure you want to archive this donation?</h4>
                    <div style="text-align:center; display:none" id="loader">
                        <img src="~/Content/giphy-downsized.gif" width="150" /> @*This is a page is loading gif*@
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteDonation()">Confirm</a> @*When clicking on the btn, The function DeleteDonation is called, and record is deleted from database*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myShowModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Donation details</h3>
                </div>

                <div class="modal-body" id="showModalBody">

                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myAddEditModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add or Edit Donation</h3>
                </div>

                <div class="modal-body" id="myAddEditModalBody">

                </div>


            </div>
        </div>
    </div>

    <input class="hidden" id="hiddenDonation" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var ConfirmDelete = function (donationID) {

            $("#hiddenDonation").val(donationID);
            $("#myDeleteModal").modal("show");
        }

        var DeleteDonation = function () {

            $("#loader").show();

            var donID = $("#hiddenDonation").val();
            @*--Ajax call to delete the record-- *@
            $.ajax({

                type: "POST",
                url: "/Donation/DeleteDonation",
                data: { donationID: donID },
                success: function (result) {
                    $("#loader").hide();
                    $("#myDeleteModal").modal("hide");

                    @*--Remove the deleted row-- *@
                    $("#row_" + donID).remove();
                }
            });

        }

        var ShowDonation = function (donationID) {

            var url = "/Donation/ShowDonationDetail?DonationID=" + donationID;
            $("#showModalBody").load(url, function () {
                $("#myShowModal").modal("show");
            })

        }

        var AddEditDonation = function (donationID) {

            var url = "/Donation/AddEditDonation?DonationID=" + donationID;
            $("#myAddEditModalBody").load(url, function () {
                $("#myAddEditModal").modal("show");
            })
        }


        $(document).ready(function () {

            $("#DonationType").keydown(function () {
                $("#loaderID").show();
                var searchtext = $(this).val();

                $.ajax({

                    type: "POST",
                    url: "/Donation/GetSearchDonation?SearchText=" + searchtext,
                    contentType: "html",
                    success: function (response) {
                        $("#loaderID").hide();
                        $("#donationRow").html(response);
                    }
                })
            })
        })
    </script>
}


