<!-- View for donation details. It is called in ShowDonations method -->
<div class="container">
    <table class="table table-striped" style="width:40%">
        @if (ViewBag.DonationsList != null)
        {
            foreach (var item in ViewBag.DonationsList)
            {
                <tr>
                    <td><b>Recipient Coded Name</b></td>
                    <td>@item.RecipientCodedName</td>
                </tr>
                <tr>
                    <td><b>Donation Type</b></td>
                    <td>@item.DonationType</td>
                </tr>
                <tr>
                    <td><b>Blood Type</b></td>
                    <td>@item.CrossBloodType</td>
                </tr>
                <tr>
                    <td><b>Rh Factor</b></td>
                    <td>@item.CrossRhFactor</td>
                </tr>
                <tr>
                    <td><b>Donor forst name</b></td>
                    <td>@item.DonorFirstName</td>
                </tr>
                <tr>
                    <td><b>Donation site name</b></td>
                    <td>@item.SiteName</td>
                </tr>
                
            }

        }
       
    </table>
</div>

