@model FrontEndComplete.Models.DonationModel

<div>

    <form id="donationsForm">

        @Html.HiddenFor(model => model.DonationID);

        <p>@Html.DropDownListFor(model => model.DonorID, ViewBag.DonorsList as SelectList, "--Select a donor--", new { @class = "form-control" }) </p>

        <p>@Html.TextBoxFor(model => model.DonationType, new { @class = "form-control", @placeholder = "Donation Type" }) </p>

        <p>@Html.TextBoxFor(model => model.CrossBloodType, new { @class = "form-control", @placeholder = "Blood Type" }) </p>

        <p>@Html.TextBoxFor(model => model.CrossRhFactor, new { @class = "form-control", @placeholder = "Rh factor" }) </p>

        <p>@Html.TextBoxFor(model => model.ExpirationDate, new { @class = "form-control", @type = "date", @placeholder = "Expiration date" }) </p>

        <p>@Html.TextBoxFor(model => model.NumberOfUnits, new { @class = "form-control", @placeholder = "Number of Units" }) </p>

        <p>@Html.DropDownListFor(model => model.DonationSiteID, ViewBag.DonationSiteList as SelectList, "--Select a donation site--", new { @class = "form-control" }) </p>

        <p>@Html.DropDownListFor(model => model.RecipientID, ViewBag.RecipientsList as SelectList, "--Select recipient--", new { @class = "form-control" }) </p>

        <a href="#" id="btnSubmit" class="btn btn-success btn-block">@if (Model.DonationID > 0)
             { <span>Update</span>}
             else
             { <span>Save</span>} 
        </a>
    </form>


    <div style="text-align:center; display:none" id="loader">
        <img src="~/Content/giphy-downsized.gif" width="150" />
    </div>

</div>

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
          
            $("#loader").show();

            var myformdata = $("#donationsForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Donation/SaveDonationRecord",
                data: myformdata,
                success: function () {
                    $("#loader").hide();
                    $("#myAddEditModal").modal("hide");
                    window.location.href = "/Donation/SaveDonationRecord";
                }
            })

        })

    })

</script>

