@model FrontEndComplete.Models.DonationModel

@{
    ViewBag.Title = "SelectDonorRecipientDonationSite";
}


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>


<div class="container" style="width:80%; margin-top:12%">
  
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i>Add a donation</a>


    <!-- Table with my Donation records  -->
    <table class="table table-responsive">

        <tr>
            <th>Id</th>
            <th>Donation type</th>
            <th>Blood type</th>
            <th>Rh factor</th>
            <th>Expiration date</th>
            <th>Number of units</th>
            <th>Donation site name</th>
            <th>Donor</th>
            <th>Recipient</th>
            <th></th>
        </tr>

        <tbody>
            @*This is from Donation Controller, the list wit the donations in the SelectDonorRecipientDonationSite method*@
            @if(ViewBag.DonationsList!= null)
            {  
                 foreach (var item in ViewBag.DonationsList)
            {
                <tr id="row_@item.DonationID"> 
                    
                    <td>@item.DonationID</td>
                    
                 @*   <td>@Html.ActionLink(item.DonationType, "DonationDetail", new { donationID = item.DonationID })</td>  This was to redirect me to the donation details*@
                    <td>@item.DonationType</td>
                    <td>@item.CrossBloodType</td>
                    <td>@item.CrossRhFactor</td>
                    <td>@item.ExpirationDate</td>
                    <td>@item.NumberOfUnits</td>
                    <td>@item.SiteName</td>
                    <td>@item.DonorFirstName</td>
                    <td>@item.RecipientCodedName</td>
                    <td><a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.DonationID)"><i class="glyphicon glyphicon-trash"></i></a> </td>
                    <td><a href="#" class="btn btn-success" onclick="ShowDonationDetails(@item.DonationID)"><i class="glyphicon glyphicon-eye-open"></i></a> </td>
                    <td><a href="#" class="btn btn-primary" onclick="AddEditDonation(@item.DonationID)"><i class="glyphicon glyphicon-pencil"></i></a> </td>
                </tr>
            }
            }
            <tr></tr>
        </tbody>
    </table>
    <a href="#" class="btn btn-primary" onclick="AddEditDonation(0)">Add a new donation</a>

    <input type="hidden"  id="hiddenDonation"/>

    <!-- Modal popup for add edit donation operation  -->
    <div class="modal fade" id="myAddEditModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add or Edit Donation</h3>
                </div>

                <div class="modal-body" id="showModalBody">

                </div>
            </div>
        </div>
    </div>
        
    <!-- Modal popup for delete donation operation  -->
    <div class="modal fade" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Delete Donation</h3>
                </div>

                <div class="modal-body">
                    <h4>Are you sure you want to delete this donation?</h4>
                    <div style="text-align:center; display:none" id="loader">
                        <img src="~/Content/giphy-downsized.gif" width="150" /> @*This is a page is loading gif*@
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteDonation()">Confirm</a> @*When clicking on the btn, The function DeleteDonation is called, and record is deleted from database*@
                </div>
            </div>
        </div>
    </div>

    <!-- Modal popup for show donation operation  -->
    <div class="modal fade" id="myShowModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Show Donation</h3>
                </div>

                <div class="modal-body" id="showModalBody">
                    
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteDonation()">Confirm</a> @*When clicking on the btn, The function DeleteDonation is called, and record is deleted from database*@
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

      
    <!-- Script for Add Donation and Delete a donation-->
<script>
    
    @*--Jquery for delete record-- *@
    var ConfirmDelete = function (donationID) {

        $("#hiddenDonation").val(donationID);
        $("#myDeleteModal").modal("show");
    }

    var DeleteDonation = function () {

        $("#loader").show();

        var donID = $("#hiddenDonation").val();
        @*--Ajax call to delete the record-- *@
        $.ajax({

            type: "POST",
            url: "/Donation/DeleteDonation",
            data: { donationID: donID },
            success: function (result) {
                $("#loader").hide();
                $("#myDeleteModal").modal("hide");

                @*--Remove the deleted row--*@
                $("#row_" + donID).remove();
            }
        })

    }

    var ShowDonationDetails = function (donationID) {

        var url = "/Donation/ShowDonation?DonationID=" + donationID;
        $("#showModalBody").load(url, function () {
            $("#myShowModal").modal("show");
        })

       // $.ajax({

          //  type: "POST",
          //  url: "/Donation/ShowDonation",
          //  data: { donationID: donationID },
          //  success: function (response) {

           //     $("#showModalBody").html(response);

          //      $("#myShowModal").modal("show");
          //  }
       // })


    }

    var AddEditDonation = function (donationID) {

        var url = "/Donation/AddEditDonation?DonationID=" + donationID;

        $("#myAddEditModalBody").load(url, function () {
            ("#myAddEditModal").modal("show");
        })

    }

    </script>

   
}


<!--This are for clinet side validation-->
<!--Ajax:asynschronous javascript and xml, get and post the data to server-->