@model FrontEndComplete.Models.User

@{
    Layout = null;
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="~/Content/log-in.css" rel="stylesheet" />
   <style>
    .img-responsive {
        width: 200px;
    }
</style>
    
<div class="main">
    <div class="container">
        <center>
            <div class="middle">
                <div id="login">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form action="javascript:void(0);" method="get">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <fieldset class="clearfix">
                                <p>
                                    <span class="fa fa-envelope"></span>
                                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email address" })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger", @style="color:yellow;" })
                                </p> <!-- JS because of IE support; better: placeholder="Username" -->

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">
                                            @Html.ActionLink("Go back to login", "Login", "User")
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Reset"></span>
                                </div>
                                @if (ViewBag.Message != null)
                                {
                                <div class="alert alert-danger" style="color:yellow">
                                    <strong>Error!</strong>@ViewBag.Message
                                </div>
                                }
                            </fieldset>
                            <div class="clearfix"></div>
                        </form>
                    }

                    <div class="clearfix"></div>
                </div> <!-- end login -->
                <div class="logo">
                    <img src="~/Content/Blood for Life.png" class="img-responsive" />

                    <div class="clearfix"></div>
                </div>

            </div>
        </center>
    </div>
</div>


    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


