@model FrontEndComplete.Models.DonorModel
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Blood for Life Overview</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-3">
                                <div class="well dash-box">
                                    <h2><span class="fa fa-tint" aria-hidden="true"></span> 203</h2>
                                    <h4>Here I will have sorted(a graph) the donationd by type</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well dash-box">
                                    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 12</h2>
                                    <h4>Here I will have a graph with the Critical type 0 Levels</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well dash-box">
                                    <h2><span class="fa fa-calendar" aria-hidden="true"></span> 33</h2>
                                    <h4>Here I will have listed the donations by expiration date</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well dash-box">
                                    <h2><span class="fa fa-users" aria-hidden="true"></span> 12,334</h2>
                                    <h4>Here I will have listed recent donors from the last week</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Latest Users -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recipients that are still waiting fro blood</h3>
                        </div>
                        <div class="panel-body">
                   @*         <table class="table table-responsive">
        <tr>
            <th>Active donor</th>
            <th>Blood type</th>
            <th>Rh factor</th>
            <th>Donor Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Last screening date</th>
        </tr>

        <tbody id="donorRow">

            @if (ViewBag.DonorsList != null)
            {
                foreach (var item in ViewBag.DonorsList)
                {
                    <tr id="row_@item.DonorID">
                        <td>@item.ActiveDonor</td>
                        <td>@item.BloodType</td>
                        <td>@item.RhFactor</td>
                        <td>@item.DonorFullName</td>
                        <td>@item.DonorPhoneNumber</td>
                        <td>@item.DonorEmail</td>
                        <td>@item.LastScreeningDate</td>
                    </tr>
                }
            }
            <tr></tr>
        </tbody>
    </table>
                *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}